<head>
    <link rel="stylesheet" href="header-feed-professor.component.css">
</head>

<div>
    <div class="hitbox-dropdown">
        <select class="professor">
            <option value="" disabled selected>Escolha um professor:</option>
        </select>
        <select class="disciplina">
            <option value="" disabled selected>Escolha uma disciplina:</option>
        </select>
    </div>
    <div class="hitbox-checkbox">
        <h1 class="feedback">FEEDBACK PROFESSOR</h1>
        <div class="input">
            <input type="checkbox" class="checkbox" name="chamada">
            <label for="chamada" class="titulo">Faz chamada?</label>
            <input type="checkbox" class="checkbox" name="trabalho">
            <label for="trabalho" class="titulo">Há trabalhos?</label>
            <input type="checkbox" class="checkbox" name="prova">
            <label for="prova" class="titulo">Há provas?</label>
        </div>
    </div>
    <div class="hitbox-feedback">
        <h1 class="user">Anonymus1</h1>
        <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/147/147144.png"/>
        <div class="box-feedback"></div>
    </div>
</div>
