<head>
  <link rel="stylesheet" href="navbar.component.css" />
</head>

<body>
  <nav>
    <div class="logo">
      <h1>UnB Help</h1>
    </div>
    <button class="avatar">
      <img
        id="avatar"
        src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
        width="50"
        height="50"
      />
    </button>
    <div class="dropdown">
      <a class="dropdown-button">FEEDBACK</a>
      <div class="dropdown-menu">
        <button (click)="onClickCadastrarFeedback()" class="item-dropdown">CADASTRAR FEEDBACK</button>
        <button (click)="onClickConsultaProfessor()" class="item-dropdown">CONSULTA DE PROFESSOR</button>
        <button (click)="onClickConsultaDisciplina()" class="item-dropdown">CONSULTA DE DISCIPLINA</button>
        <button class="item-dropdown">PRETENSÃO</button>
      </div>
    </div>
    <ul class="itens-navbar">
      <li><button class="title" (click)="onClickContatos()">CONTATOS</button></li>
      <li><button class="title" (click)="onClickFaq()">F.A.Q</button></li>
      <li><button class="title" (click)="onClickSobreNos()">SOBRE NÓS</button></li>
    </ul>
  </nav>
</body>
