<head>
  <link rel="stylesheet" href="navbar.component.css" />
</head>

<body>
  <nav>
    <div class="logo">
      <h1>UnB Help</h1>
    </div>
    <button class="avatar">
      <img
        id="avatar"
        src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
        width="50"
        height="50"
      />
    </button>
    <div class="dropdown">
      <a class="dropdown-button">FEEDBACK</a>
      <div class="dropdown-menu">
        <a routerLink="" class="item-dropdown">CADASTRAR FEEDBACK</a>
        <a routerLink="" class="item-dropdown">CONSULTA DE PROFESSOR</a>
        <a routerLink="" class="item-dropdown">CONSULTA DE DISCIPLINA</a>
        <a routerLink="" class="item-dropdown">PRETENSÃO</a>
      </div>
    </div>
    <ul class="itens-navbar">
      <li><a routerLink="contato">CONTATOS</a></li>
      <li><a routerLink="faq">F.A.Q</a></li>
      <li><a routerLink="sobre-nos">SOBRE NÓS</a></li>
    </ul>
  </nav>
</body>
