@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.menu-footer {
  background-color: #100f11;
  font-weight: 600;
  padding: 20px 0;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
