<head>
  <link rel="stylesheet" href="box-primeiro-login.component.css" />
</head>

<body>
  <img
    class="avatar"
    src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
    width="80"
    height="80"
  />
  <main class="hitbox">
    <div class="titulo">
      Sua primeira vez aqui? Seja bem vindo!<br />
      Vamos precisar de alguns dados.
    </div>
    <label class="inputs">
      <input
        class="matricula"
        type="text"
        placeholder="Matrícula - Ex: 200018000"
      />
      <select class="curso">
        <option value="" disabled selected>--Curso--</option>
        <option value="1">Ciências da Computação</option>
        <option value="2">Computação - Licenciatura</option>
      </select>
      <input
        class="semestre-atual"
        type="text"
        placeholder="Semestre Atual - Ex: 2021.1"
      />
    </label>
    <button class="botao" type="submit">Finalizar</button>
  </main>
</body>
