<head>
    <link rel="stylesheet" href="box-cadastro-professor.component.css">
</head>

<body>
    <div class="hitbox">
        <h1 class="titulo">Feedback de Professor</h1>
        <form [formGroup]="formCadastroProfessor" (ngSubmit)="onSubmit()">
            <div class="inputs">
                <input class="nome" type="text" placeholder="Nome" formControlName="nome" />
                <input class="sobrenome" type="text" placeholder="Sobrenome" formControlName="sobrenome"/>
                <div class="checkbox">
                    <input type="checkbox" class="box-chamada" name="chamada" formControlName="chamada">
                    <label for="chamada" class="chamada">Faz chamada?</label>
                    <input type="checkbox" class="box-trabalho" name="trabalho" formControlName="trabalho">
                    <label for="trabalho" class="trabalho">Há trabalhos?</label>
                    <input type="checkbox" class="box-prova" name="prova" formControlName="prova">
                    <label for="prova" class="prova">Há provas?</label>
                </div>
                <div class="linha-avaliacao">
                    <div class="avaliacao">Avaliação geral:</div>
                    <select class="pontuacao" formControlName="avaliacao">
                        <option class="opcao" value="" disabled selected>--Nota--</option>
                        <option class="opcao" value="1">1 estrela</option>
                        <option class="opcao" value="2">2 estrelas</option>
                        <option class="opcao" value="3">3 estrelas</option>
                        <option class="opcao" value="4">4 estrelas</option>
                        <option class="opcao" value="5">5 estrelas</option>
                    </select>
                </div>
                <textarea class="texto" formControlName="explicacao"
                    placeholder="Explique como funciona a metodologia, como funciona a avaliação, comente sobre a didática! Sinta-se livre."></textarea>
            </div>
            <button class="botao" type="submit">Continuar</button>
        </form>
    </div>
</body>