@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.hitbox {
    width: 365px;
    height: 304px;
    background-color: #150C35;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.titulo {
    font-family: "Inter", sans-serif;
    font-size: 140%;
    font-weight: 100;
    text-align: center;
    color: white;
    padding-top: 10px;
}

.nome {
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    outline: none;
    color: white;
    background-color: #85809B;
    border: none;
    border-radius: 4px;
    width: 119px;
    height: 28px;
    padding-left: 5px;
    margin-top: 15px;
    margin-left: 21px;
}

.nome::placeholder {
    color: white;
    font-size: 80%;
    font-weight: 500;
}

.sobrenome {
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    outline: none;
    color: white;
    background-color: #85809B;
    border: none;
    border-radius: 4px;
    width: 119px;
    height: 28px;
    padding-left: 5px;
    margin-left: 74px;
}

.sobrenome::placeholder {
    color: white;
    font-size: 80%;
    font-weight: 500;
}

.checkbox {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 70%;
    margin-top: 10px;
}

.box-chamada {
    margin-left: 35px;
}

.chamada {
    margin-left: 5px;
}

.box-trabalho {
    margin-left: 15px;
}

.trabalho {
    margin-left: 5px;
}

.box-prova {
    margin-left: 15px
}

.prova {
    margin-left: 5px;
}

.texto {
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    outline: none;
    color: white;
    background-color: #85809B;
    border: none;
    border-radius: 4px;
    width: 312px;
    height: 104px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    padding: 5px;
}

.texto::placeholder {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 80%;
    font-weight: 500;
}

.linha-avaliacao {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 21px;
}

.avaliacao {
    font-family: "Inter", sans-serif;
    font-size: 80%;
    font-weight: 500;
    color: white;
}

.pontuacao {
    font-family: "Inter", sans-serif;
    color: black;
    background-color: #85809B;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    outline: none;
}

.botao {
    font-family: "Inter", sans-serif;
    background-color: #D9D9D9;
    display: block;
    margin: 0 auto;
    width: 108px;
    height: 25px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}