@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

.container {
  width: 321px;
  height: 330px;
  display: block;
  margin: 0 auto;
}

.avatar {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 50px;
  width: 80px;
}

.card {
  background-color: #0d0a1a;
  border-radius: 40px;
  width: 321px;
  height: 287px;
}

.titulo {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 170%;
  padding-top: 60px;
  text-align: center;
}

.usuario {
  font-family: "Inter", sans-serif;
  font-size: 70%;
  background-color: rgba(162, 157, 181, 0.5);
  outline: none;
  color: white;
  border-style: none;
  border-radius: 4px;
  padding-left: 5px;
  width: 193px;
  height: 28px;
  display: block;
  margin: 20px auto 0;
}

.usuario::placeholder {
  color: white;
}

.senha {
  font-family: "Inter", sans-serif;
  font-size: 70%;
  background-color: rgba(162, 157, 181, 0.5);
  outline: none;
  color: white;
  border-style: none;
  border-radius: 4px;
  padding-left: 5px;
  width: 193px;
  height: 28px;
  display: block;
  margin: 10px auto;
}

.senha::placeholder {
  color: white;
}

.botao {
  background-color: #d9d9d9;
  border-style: none;
  border-radius: 4px;
  width: 108px;
  height: 25px;
  display: block;
  margin: 10px auto;
  font-family: "Inter", sans-serif;
}

.botao:hover {
  cursor: pointer;
  opacity: 0.8;
}

.cadastrar {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 60%;
  text-align: center;
  padding-top: 2px;
  text-decoration: none;
}

.cadastrar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.aviso {
  font-family: "Inter", sans-serif;
  color: rgb(145, 71, 71);
  padding-left: 70px;
  font-size: 60%;
  padding-top: 8px;
}
