<div class="container">
  <div class="card">
    <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/147/147144.png"/>
    <h1 class="titulo">Autenticar</h1>
    <form class="container-form" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <input class="input" type="text" placeholder="Matricula" formControlName="matricula"/>
      <input class="input" type="password" placeholder="Senha" formControlName="senha"/>
      <button class="botao" type="submit" [disabled]="!formLogin.valid">Acessar</button>
    </form>
    <span class="cadastrar">Não possui conta? <a routerLink="/cadastrar">Cadastre-se</a></span>
  </div>
</div>
