<app-cabecalho titulo="FEEDBACKS DAS DISCIPLINAS"></app-cabecalho>

<div class="container">
  <form class="filtro" [formGroup]="formFiltroFeedbackDisciplina" (ngSubmit)="onSubmit()">
    <app-input-disciplina [formGroup]="formFiltroFeedbackDisciplina"></app-input-disciplina>
    <button class="botao" type="submit">FILTRAR</button>
  </form>

  <div class="container-feedback" *ngFor="let feedback of feedbacks">
    <img class="avatar" src="https://cdn-icons-png.flaticon.com/512/147/147144.png"/>
    <div class="conteudo">
      <div class="header">
        <span>{{feedback.usuario.apelido | uppercase}}</span>
        <span><fa-icon [icon]="professorIcon"></fa-icon> {{feedback.disciplina.nome}}</span>
        <span><fa-icon [icon]="avaliacaoIcon"></fa-icon> {{feedback.avaliacao}}</span>
      </div>
      <div class="box">{{feedback.texto}}</div>
    </div>
  </div>

</div>
