.fundo{
    background-color: #19095A;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 90%;
    border-radius: 10px;
    background-color: #060d3292;
    color: white;
    margin-top: 2%;

}
.titulo{
  background-color: #060d32fe;
  padding: 10px;
}
.corpo{
  padding: 15px;
  font-size: 18px;
  text-align: justify;
}
