
.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.direcionar{
  background: none;
  color: white;
  outline: 0px !important;
  outline-offset: 0px !important;
  border: none !important;
  font-size: 35px;
  text-decoration: none !important;
  font-weight: bolder;
}
.unb-imagem{
  height: 50%;
  cursor: pointer;
}
