<div class="back">
    <div class="titulo">
        <h1>o fututro das suas disciplinas</h1>
    </div>
    <div class="corpo">
        <a class="direcionar" href='https://aprender3.unb.br/login/index.php' target="_blank" rel="noreferrer noopener">
            APRENDER 3
        </a>
        <img id="unb" src="/src/assets/Arte Pronta.jpg" alt="logo unb" class="unb_imagem" >
        <a class="direcionar" href='https://sigaa.unb.br/sigaa/verTelaLogin.do' target="_blank" rel="noreferrer noopener">
            SIGAA
        </a>
    </div>
</div>
