<head>
  <link rel="stylesheet" href="box-cadastro.component.css" />
</head>

<body>
  <img
    class="avatar"
    src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
    width="80"
    height="80"
  />
  <main class="hitbox">
    <div class="titulo">UnBHelp</div>
    <form [formGroup]="formCadastroUser" (ngSubmit)="onSubmit()">
      <input class="nome" type="text" placeholder="Nome Completo" formControlName="nome">
      <input class="email" type="text" placeholder="E-mail Institucional" formControlName="email">
      <input class="senha" type="password" placeholder="Digite sua senha" formControlName="senha">
      <input class="senha" type="password" placeholder="Confirme sua senha" formControlName="senhaConfirmada">
      <button class="botao">
        <p class="cadastrar">Cadastrar</p>
      </button>
    </form>
    <div class="conta-existente"><a routerLink="login">Já possui cadastro? Clique aqui</a></div>
  </main>
</body>
