<head>
  <link rel="stylesheet" href="box-cadastro.component.css" />
</head>

<body>
  <img
    class="avatar"
    src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
    width="80"
    height="80"
  />
  <main class="hitbox">
    <div class="titulo">UnBHelp</div>
    <input class="nome" type="text" placeholder="Nome Completo" />
    <input class="email" type="text" placeholder="E-mail Institucional" />
    <input class="senha" type="password" placeholder="Digite sua senha" />
    <input class="senha" type="password" placeholder="Confirme sua senha" />
    <button class="botao">
      <p class="cadastrar">Cadastrar</p>
    </button>
    <div class="conta-existente">Já possui cadastro? Clique aqui</div>
  </main>
</body>
