<!DOCTYPE html>
<html>
    <head>
            <title>
                perguntas frequentes
            </title>
    </head>
    <body>
            <h1>
                perguntas frequentes
            </h1>
            <div >
                <h2>
                    Meu feedback será anônimo ?
                </h2>
                <p>
                    Sim, tendo em vista a integridade dos participantes da plataforma, sua avaliação será publicada de forma anônima
                </p>
            </div>
    </body>
</html>

<!-- 
<div class="back">
    <div class="titulo">
        <h1>Sobre nós</h1>
    </div>
    <div>
        <div  class="sub-titulo">
            <h1>
                Quem somos?
            </h1>
            Criado com o propósito de facilitar e otimizar a vida acadêmica do discente, surge o grupo UnBHelp. Com o foco em maximizar o aprendizado voltado ao mercado de trabalho e proporcionar ao estudante feedback a respeito das matérias que deseja cursar, é criada a plataforma em questão.
        </div>
        <div>
            <h2>
                Qual o nosso objetivo?
            </h2>
                Inúmeras vezes os alunos se cadastram em disciplinas que não fazem ideia alguma do que está por vir, tanto com relação ao conteúdo ofertado  quanto a metodologia do professor responsável. Tendo isso em vista, a plataforma do UnBHelp surge para minimizar esse tipo de situação, possibilitando aos discentes um panorama acerca da matéria através de Feedbacks de outros alunos. Além disso, a plataforma também conta com funcionalidade voltada majoritariamente para o mercado de trabalho, trazendo sugestões de matérias úteis ao estudante por meio da sua escolha de pretensão trabalhista.
        </div>
    </div>
</div>
-->