<head>
  <link rel="stylesheet" href="box-login.component.css" />
</head>

<body>
  <img
    class="avatar"
    src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
    width="80"
    height="80"
  />
  <main class="hitbox">
    <div class="titulo">UnBHelp</div>
    <form id="formulario-login" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <input class="usuario" type="text" placeholder="Email da UnB" formControlName="email" >
      <div *ngIf="formLogin.get('email')?.errors?.['email'] && formLogin.get('email')?.touched" class="aviso">
        <p>Formato de E-mail inválido.</p>
      </div>
      <div *ngIf="formLogin.get('email')?.errors?.['required'] && formLogin.get('email')?.touched" class="aviso">
        <p>Campo obrigatório.</p>
      </div>
      <input class="senha" type="password" placeholder="Senha" formControlName="senha" >
      <button class="botao" type="submit" [disabled]="!formLogin.valid">Acessar</button>
    </form>
    <div class="cadastrar">Não possui conta? Cadastre-se aqui</div>
  </main>
</body>