@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  height: auto;
  background-color: rgba(21, 12, 53, .8);
  border-radius: 12px;
  margin: 0px auto;
  padding: 20px 0;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.8);
}

.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: white;
  background: none;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.linha {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.input {
  outline: none;
  color: white;
  background-color: #85809B;
  border: none;
  border-radius: 4px;
  height: 28px;
  padding-left: 5px;
}

.input::placeholder, .texto::placeholder {
  color: white;
}

.texto {
  outline: none;
  color: white;
  background-color: #85809B;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  padding-top: 5px;
  padding-left: 5px;
  width: 100%;
  height: 100px;
}

.lembrete {
  width: 100%;
  font-size: 14px;
  color: white;
  margin-top: 8px;
}

.linha-avaliacao {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
}

.avaliacao {
  font-size: 14px;
  color: white;
  margin-right: 6px;
}

.botao {
  background-color: #D9D9D9;
  width: 110px;
  height: 25px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  font-weight: bold;
  cursor: pointer;
}

.checkbok-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;

  margin-top: 15px;
}
